@{
    ViewData["Title"] = "Weather Forecast";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Weather" asp-action="Index" method="post">
    <div class="mt-3">
        <label class="form-label" for="city">Enter city:</label>
        <input type="text" id="city" name="city" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Search</button>
</form>
